html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 90%;
  font: caption;
  background-color: #F4F7F8;
}

h1 {
  font-size: 105%;
}

#txtDebug {
  height: 200px;
}

p {
  margin: 1em 2em;
}

#content {
  margin: 2em 2em 0 2em;
}

#citationList {
  height:60%;
}

